body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 50px auto;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    width: 300px;
}
#progressBarContainer {
    background: #ddd;
    border-radius: 4px;
    height: 12px;
    margin-bottom: 16px;
    }
#progressBar {
    background: #4caf50;
    height: 100%;
    border-radius: 4px;
    width: 0%;
    transition: width 0.4s ease;
    }
#questionImage {
    width: 1018px;
    height: 571px;
    border-radius: 8px;
    margin: 0 auto 12px auto;
    display: block;
}
